<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Da Nang Cash" %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body class="loading">

    <div id="loadWrapper">
      <div id="loading-bar-spinner" class="spinner">
        <div class="spinner-icon"></div>
      </div>
    </div>

    <div id="popup" class="popup hidden">
      <div class="popup-content">
        <p>Ваша заявка отправлена, с вами скоро свяжется наш менеджер</p>
        <button id="popupClose" class="popup-close">OK</button>
      </div>
    </div>

    <%= yield %>

  </body>
</html>
